#csharp{
  display: none;
}

#css{
  display: none;
}

#rr{
  display: none;
}

#php{
  display: none;
}

#java{
  display: none;
}

h1{
  font-size: 80px;
  text-align: center
}

p{
  font-weight: bold;
}

span{
    font-weight: bold;
}

#main{
  margin-top: 200px;
}

img{
  width: 200px;
  height: 200px;
}
